<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.shopflo_software_android_app">


    <!--  Allows for variation in screen size of device  -->
    <supports-screens
        android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true" />

    <!--  Must add the line below in order for Auth0 authentication to work  -->
    <uses-permission android:name="android.permission.INTERNET" />


    <!--  Application Setup, note that a new custom icon has been created and
          added to the manifest for this app -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/shopflo_launcher"
        android:label="@string/software_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">


        <!--  Login Activity - Login Activity opens upon launch of the application  -->
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--  Operator Activity  -->
        <activity android:name=".MainActivityOperator"/>


        <!--  Manager Activity  -->
        <activity android:name=".MainActivityManager"/>


        <!--  Inspector Activity  -->
        <activity android:name=".MainActivityInspector"/>


        <!--  Customer Service Rep Activity  -->
        <activity android:name=".MainActivityCSR"/>


        <!--  Admin Home Activity (Main)  -->
        <activity android:name=".MainActivity"
            android:label="Admin Home"/>


        <!--  Orders Activity  -->
        <activity android:name=".OrderActivity" />


        <!--  Review Activity  -->
        <activity android:name=".ReviewActivity" />


        <!--  Production Activity  -->
        <activity android:name=".ProductionActivity" />


        <!--  Projects Activity  -->
        <activity android:name=".ProjectActivity" />


        <!--  Inventory Activity  -->
        <activity android:name=".InventoryActivity" />

    </application>
</manifest>
